<div class="container-fluid">
  <m-header [title]="title"  [buttons]="actionButtons"></m-header>
  <ag-grid-angular
    [columnDefs]="gridOptions.columnDefs"
    [frameworkComponents]="frameworkComponents"
    [gridOptions]="gridOptions"
    [localeText]="localeText"
    (gridReady)="onGridReady($event)"
    [rowData]="rowData"
    class="ag-theme-alpine">
  </ag-grid-angular>
</div>

<m-modal>
  <m-shipment-form
    [shipment]="editableShipment"
    (onResult)="onShipmentInput($event)"></m-shipment-form>
</m-modal>



