<div class="container-fluid">
  <m-header [buttons]="actionButtons" title="Warehouses"></m-header>
  <ag-grid-angular
    (gridReady)="onGridReady($event)"
    [columnDefs]="gridOptions.columnDefs"
    [frameworkComponents]="frameworkComponents"
    [gridOptions]="gridOptions"
    [localeText]="localeText"
    [rowData]="rowData"
    class="ag-theme-alpine">
  </ag-grid-angular>
</div>

<m-modal>
  <m-warehouse-form
    (onResult)="onWarehouseInput($event)"
    [warehouse]="editableWarehouseItem"></m-warehouse-form>
</m-modal>
