<div class="container-fluid">
  <m-header [buttons]="actionButtons" title="Users"></m-header>
  <ag-grid-angular
    (gridReady)="onGridReady($event)"
    [columnDefs]="gridOptions.columnDefs"
    [frameworkComponents]="frameworkComponents"
    [gridOptions]="gridOptions"
    [localeText]="localeText"
    [rowData]="rowData"
    class="ag-theme-alpine">
  </ag-grid-angular>
</div>

<m-modal *ngIf="warehouses">
  <m-user-form
    (onResult)="onUserInput($event)"
    [user]="editableUser"
    [warehouses]="warehouses"></m-user-form>
</m-modal>
