.header-buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  &__buttons {

    .before {
      color: #297d3c;
      font-weight: bold;
    }

    i {
      cursor: pointer;
      color: #33C534;
      padding: 3px;
      margin-right: 5px;
      font-size: 18px;

      &.disabled-icon {
        opacity: 0.4;
        cursor: unset;
      }

      &.hide-icon {
        display: none;
        cursor: unset;
      }
    }
  }
}
