<div class="header-buttons">
  <h5 *ngIf="title">{{title}}</h5>
  <div *ngIf="buttons" class="header-buttons__buttons">
    <ng-container *ngFor="let button of buttons">
      <span *ngIf="button.before && button.before(data)" class=before>{{button.before(data)}}</span>
      <button (click)="(!button.disabled ||
         (button.disabled && !button.disabled(data)))
         && button.fn(data)"
              *ngIf="!!button.text"
              [hasRole]="button.hasRole"
              [hidden]="(button.visible && !button.visible(data)) ||
              (button.hidden && button.hidden(data))"
              class="btn btn-primary"
              style="display: unset">
        {{button.text}}
      </button>

      <i (click)="(!button.disabled ||
         (button.disabled && !button.disabled(data))) && button.fn(data)"
         *ngIf="!!button.icon"
         [class.disabled-icon]="button.disabled && button.disabled(data)"
         [class.hide-icon]="(button.visible && !button.visible(data)) ||
              (button.hidden && button.hidden(data))"
         [hasRole]="button.hasRole"
         [ngClass]="button.icon"
         [ngStyle]="button.style ? button.style : {}"
         [title]="button.title"></i>
    </ng-container>
  </div>
</div>
