.main-content {
  width: 350px;
  margin-top: 10vh;
  position: relative;
  z-index: 1;
}

.bg {
  background: url("../../../assets/images/splash.jpg") no-repeat;
  height: 110vh;
  width: 110vw;
  background-size: 800px;
  background-position-x: calc(100vw - 700px);
  background-position-y: 20px;
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.7;
}
