<div class="container-fluid">
  <m-header [buttons]="actionButtons" [title]="title"></m-header>
  <ag-grid-angular
    (gridReady)="onGridReady($event)"
    [columnDefs]="gridOptions.columnDefs"
    [frameworkComponents]="frameworkComponents"
    [gridOptions]="gridOptions"
    [localeText]="localeText"
    [rowData]="rowData"
    class="ag-theme-alpine">
  </ag-grid-angular>
</div>

<m-modal>
  <m-inventory-form
    (onResult)="onInventoryItemInput($event)"
    [inventory]="editableInventoryItem"></m-inventory-form>
</m-modal>
