<nav *ngIf="token" class="navbar fixed-top navbar-expand-xl navbar-dark">
  <a class="navbar-brand" routerLink="/">StockApp</a>
  <button class="navbar-toggler z-index hidden-md-up" type="button"
          data-target="#navbarsDefault"
          (click)="collapsed = !collapsed">&#9776;
  </button>

  <div class="collapse navbar-collapse z-index" id="navbarsDefault"
       [ngbCollapse]="collapsed">
    <ul class="navbar-nav">
      <ng-container *ngFor="let item of routes">
      <li class="nav-item"  [hasRole]="item.hasRole">
        <a class="nav-link" routerLinkActive="active"
           [routerLink]="item.route">
          <i [class]="'fa fa-'+item.icon"></i><span>
      {{item.text}}</span></a>
      </li>
      </ng-container>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a (click)="logout()" class="logout nav-link">
          <i class="fa fa-sign-out"></i><span>Se déconnecter</span></a></li>
    </ul>
  </div>
</nav>

<div>
  <div class="loading" *ngIf="loading">Loading...</div>
  <router-outlet></router-outlet>
</div>

