<nav *ngIf="token" class="navbar fixed-top navbar-expand-xl navbar-dark">
  <a class="navbar-brand" routerLink="/">StockApp</a>
  <button (click)="collapsed = !collapsed" class="navbar-toggler z-index hidden-md-up"
          data-target="#navbarsDefault"
          type="button">&#9776;
  </button>

  <div [ngbCollapse]="collapsed" class="collapse navbar-collapse z-index"
       id="navbarsDefault">
    <ul class="navbar-nav">
      <ng-container *ngFor="let item of routes">
        <li [hasRole]="item.hasRole" class="nav-item">
          <a [routerLink]="item.route" class="nav-link"
             routerLinkActive="active">
            <i [class]="'fa fa-'+item.icon"></i><span>
      {{item.text}}</span></a>
        </li>
      </ng-container>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <span class="nav-link">
          <span style="font-family: monospace">{{token.user.username}}&nbsp;({{token.user.warehouseName}})</span></span>
      </li>
      <li class="nav-item">
        <a (click)="logout()" class="logout nav-link">
          <i class="fa fa-sign-out"></i><span>Logout</span></a></li>
    </ul>
  </div>
</nav>

<div>
  <div *ngIf="loading" class="loading">Loading...</div>
  <router-outlet></router-outlet>
</div>

